<!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
<div>
    <div><a href="/">Home</a></div>
    <h1>Edit Student Form</h1>
    <form action="/student/edit" method="post" th:object="${student}">
        <input type="hidden" name="studentId" id="studentId" th:value="${student.studentId}">
        <div class="form-control">
            <div> <label for="firstName">FirstName</label></div>
            <div><input id="firstName" name="firstName" th:value="${student.firstName}" type="text"></div>
        </div>
        <div class="form-control">
            <div> <label for="middleName">MiddleName</label></div>
            <div><input id="middleName" name="middleName" th:value="${student.middleName}" type="text"></div>
        </div>
        <div class="form-control">
            <div> <label for="lastName">FirstName</label></div>
            <div><input id="lastName" name="lastName" th:value="${student.lastName}" type="text"></div>
        </div>
        <div>
            <div><label for="studentNumber">StudentNumber</label></div>
            <div><input id="studentNumber" name="studentNumber" th:value="${student.studentNumber}" type="text"></div>
            <div>
                <span style="color: red" th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"></span>
            </div>
        </div>
        <div>
            <label for="enrollmentDate">EnrollmentDate</label>
            <input id="enrollmentDate" name="enrollmentDate" th:value="${student.enrollmentDate}" type="date">
        </div>
        <div>
            <label for="cgpa">cgpa</label>
            <input id="cgpa" name="cgpa" th:value="${student.cgpa}" type="number">
        </div>
        <div>
            <button id="btnSave" type="submit">Save Student</button>
        </div>
    </form>
</div>

</body>
</html>